@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1 class="home-header-text">Formulaire d'intervention</h1>
</div>

<div class="row">
    <span class=""></span>
    <div class="">
        @Html.ActionLink("Nouveau Client", "New_Client", "Home")
    </div>
    <span class=""></span>
</div>
<div class="row">
    <span class=""></span>
    <div class="">
        @Html.ActionLink("Client Existant", "Existing_Client", "Home")
    </div>
    <span class=""></span>
</div>

